# Visual Studio 2015/2017 cache/options directory
.vs/
.idea/

node_modules/
bower_components/
# NuGet Packages
*.nupkg
**/packages/*
packages/*
!packages/build/
!**/packages/build/
SSW.SugarLearning.WebUI/_source/TypeScripts/**/*.js.map
SSW.SugarLearning.WebUI/_source/TypeScripts/**/*.js

[Bb]in
[Oo]bj
*.user
*.mdf
*.ldf
*.suo
*.user
TestResults/


~$*
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/SSW.SugarLearning/*
/.vs/ProjectSettings.json
/.vs/SSW.SugarLearning/v15/sqlite3/storage.ide
/.vs/SSW.SugarLearning/v15
*.txt20180514
*.txt20180617
**/App_Data/Logs/*.*
Settings.StyleCop
StyleCop.json
References.txt
.DS_STORE